{% extends "layouts/base-fullscreen.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">
                        {% trans "Register" %}
                    </h3>

                    <span class="mb-0 text-muted">
                        {% trans "Add your credentials" %}
                    </span>

                    <br/>
                    <br/>

                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                        .{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    <p class="mb-0 text-muted">Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
                    <br/>

                    <p class="mb-2 text-muted">
                        &copy; <a target="_blank" href="https://bit.ly/37fF9RT">CodedThemes</a>
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

