
    {% load static %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="{% url 'index' %}" class="b-brand">
                    <div class="b-bg">
                        <img width="50" src="{% static '/img/jill_icon.png' %}">
                    </div>
                    <span class="b-title">Jillionet</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    
                {% comment %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ui-button.html" class="">Button</a></li>
                            <li class=""><a href="/ui-badges.html" class="">Badges</a></li>
                            <li class=""><a href="/ui-breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
                            <li class=""><a href="/ui-collapse.html" class="">Collapse</a></li>
                            <li class=""><a href="/ui-tabs.html" class="">Tabs & pills</a></li>
                            <li class=""><a href="/ui-typography.html" class="">Typography</a></li>
                            <li class=""><a href="/ui-icons.html" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="/ui-forms.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
                    </li>
                    <li data-username="Table bootstrap datatable footable" 
                        class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                        <a href="/ui-tables.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li data-username="Charts Morris" 
                        class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a></li>
                    <li data-username="Maps Google" 
                         class="nav-item {% if 'maps-google' in segment %} active {% endif %}">
                        <a href="/maps-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                {% endcomment %}
                    {% if not user.is_authenticated %}
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>
                            <li class=""><a href="{% url 'account_login' %}" class="">SALIR</a></li>
                            <li class=""><a href="{% url 'account_signup' %}" class="">REGISTRO</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li data-username="Market"
                        class="nav-item {% if 'market' in segment %} active {% endif %}">
                        <a href="{% url 'app:market' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-coins"></i></span><span class="pcoded-mtext">Market</span></a></li>
                    <li data-username="JillFarm" class="nav-item"><a href="{% url 'app:yeild' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-tractor"></i></span><span class="pcoded-mtext">JILLFARM</span></a></li>
                    <li data-username="JillBot" class="nav-item"><a href="{% url 'app:iabot' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-robot"></i></span><span class="pcoded-mtext">JILLBOT</span></a></li>
                    
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:dapps' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-store-alt"></i></span><span class="pcoded-mtext">Dapps</span></a></li>
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:holders' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-trophy"></i></span><span class="pcoded-mtext">Holders</span></a></li>
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:nfts' %}" class="nav-link"><span class="pcoded-micon"><i class="fab fa-opencart"></i></span><span class="pcoded-mtext">NFTs</span></a></li>
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:multiway' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-paper-plane"></i></span><span class="pcoded-mtext">Multi-way</span></a></li>
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:broadcast' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-broadcast-tower"></i></span><span class="pcoded-mtext">Broadcast</span></a></li>
                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'app:settings_view' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-tools"></i></span><span class="pcoded-mtext">Settings</span></a></li>

                    <li data-username="FOUNDS" class="nav-item"><a href="{% url 'users:balance' %}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-wallet"></i></span><span class="pcoded-mtext">FOUNDS</span></a></li>                    

                    {% if user.is_authenticated %}
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
