{% extends "layouts/base.html" %}
{% load humanize crispy_forms_tags %}

{% block title %} Order Book {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Create Order</h5>
                            </div>
                            <div class="card-body">
                                <h5>{{ trading_pair.pair }}</h5>
                                <div class="row">
                                    
                                    
                                    <div class="col-md-8">
                                        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_8e91b"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "symbol": "BINANCE:BTCUSDT",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_8e91b"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
                                    </div>
                                    <div class="col-md-4">
                                    {% comment %}
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                           
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    {% endcomment %}
                                        
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-buy-tab" data-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy" aria-selected="true">Buy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-sell-tab" data-toggle="pill" href="#pills-sell" role="tab" aria-controls="pills-sell" aria-selected="false">Sell</a>
                                        </li>
                                        
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
                                            <form method="post">
                                            {% csrf_token %}
                                            
                                            <input type="hidden" name="buy_sell" id="id_buy_sell" value="buy">
                                            {{ form.price | as_crispy_field }}                                            
                                            {{ form.order_type | as_crispy_field }}
                                            {{ form.volume | as_crispy_field }}
                                            <label for="customRange3">Example range</label>
                                        <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
                                            <input type="hidden" name="trading_pair" id="id_trading_pair" value="{{trading_pair.id}}">
                                           
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        </div>
                                        <div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab">
                                            <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="buy_sell" id="id_buy_sell" value="sell">
                                            <input type="hidden" name="trading_pair" id="id_trading_pair" value="{{trading_pair.id}}">
                                            {{ form.price | as_crispy_field }}                                            
                                            {{ form.order_type | as_crispy_field }}
                                            {{ form.volume | as_crispy_field }}
                                            {#<label for="customRange3">Example range</label>#}
                                        <input type="range" class="custom-range" min="0" max="1000" step="0.5" onchange="updateVolume(this.value)" id="customRange2">
                                           
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        </div>
                                        
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="false">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile"
                                       role="tab" aria-controls="profile" aria-selected="true">Open Orders</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Price</th>
                                            <th>Order type</th>
                                            <th>Buy/Sell</th>
                                            <th>Timestamp</th>
                                            <th>Volume</th>
                                            {#                                                <th class="text-right"></th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in all_order %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0">{{ order.trading_pair.pair }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.price | floatformat:4}}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.order_type }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.buy_sell }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.timestamp | naturaltime }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-green">{{ order.volume | floatformat:2 | intcomma }}</h6>
                                                </td>
                                                {#                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>#}
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Buy/Sell</th>
                                            <th>Timestanp</th>
                                            <th>Volume</th>
                                            {#                                                <th class="text-right"></th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in open_orders %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0">{{ order.trading_pair.pair }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.buy_sell }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.timestamp | naturaltime }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-green">{{ order.volume | floatformat:2 | intcomma }}</h6>
                                                </td>
                                                {#                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>#}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
 function updateVolume(val){
     var volumeElement = document.getElementById('id_volume');
     volumeElement.value = val;
     console.log(volumeElement, val);
 }
</script>
{% endblock javascripts%}

{% comment %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">



</head>



<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bienvenido a Jillionet</h1>
      <br>

      <h2 class="text-center">Orderbook Level spred</h2>

      <h2 class="text-center">Trading pair {{ trading_pair.pair }}</h2>

      <h2 class="text-center">Bid Price {{sell_orders.first.price | floatformat:2}}</h2>
      <h2 class="text-center">Ask Price {{buy_orders.last.price | floatformat:2}}</h2>

{% if form %}
      <div>
        <h2>{{view.kwargs.slug}}</h2>
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>Order</button>
        </form>
    </div>
    {% endif %}
     
    </div>
  </div>

</div>

<p class="text-center">Buybook <br><br></p>
<table class="text-center">
  <tr>
    <th>Pair</th><th>Buy/Sell</th><th>Order type</th><th>Volume</th><th>Price</th>
  </tr>
  {% for buy_order in buy_orders%}
  <tr>
    <td>{{buy_order.trading_pair.pair}}</td><td>{{buy_order.buy_sell}}</td><td>{{buy_order.order_type}}</td><td>{{buy_order.volume | floatformat:4}}</td><td>{{buy_order.price | floatformat:4}}</td>
  </tr>
  {% endfor %}
</table>

<p>Sellbook <br><br></p>

<table>

  <tr>
    <th>Pair</th><th>Buy/Sell</th><th>Order type</th><th>Volume</th>
  </tr>
  {% for sell_order in sell_orders %}
  <tr>
    <td>{{sell_order.trading_pair.pair}}</td><td>{{sell_order.buy_sell}}</td><td>{{sell_order.order_type}}</td><td>{{sell_order.volume | floatformat:4}}</td><td>{{sell_order.price | floatformat:4}}</td>
  </tr>
  {% endfor %}

</table>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endcomment %}