{% extends "layouts/base.html" %}
{% load humanize crispy_forms_tags static get_type_balances i18n %}

{% block title %} Order Book {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/farm.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
<style>
.nav-pills .nav-link.active.sell {
    background-color: red;
}
</style>

{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{% trans "Create Order" %}</h5>
                            </div>
                            <div class="card-body">
                                <h5>
                                    {{ trading_pair.pair }} 
                                    <small class="text-success float-right">
                                        <strong>Buy</strong> <span id="current-bid-price-{{ trading_pair.get_symbol | lower }}">{{ bid_price }}</span>
                                    </small>
                                    <small class="text-danger float-right mr-2">
                                        <strong>Sell</strong> <span id="current-ask-price-{{ trading_pair.get_symbol | lower }}">{{asks_price}}</span>
                                    </small>
                                </h5>
                                <div class="row">

                                    <div class="col-md-8">
                                        <!-- TradingView Widget BEGIN -->
                                        <div class="tradingview-widget-container">
                                            <div id="tradingview_8e91b"></div>
                                            {% if 'JILL' not in request.path %}
                                                <div class="tradingview-widget-copyright"><a
                                                        href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE"
                                                        rel="noopener" target="_blank"><span
                                                        class="blue-text">{{ trading_pair.get_symbol }} Chart</span></a> by TradingView
                                                </div>
                                            {% endif %}
                                            <script type="text/javascript"
                                                    src="https://s3.tradingview.com/tv.js"></script>
                                            <script type="text/javascript">
                                            if (!'{{ trading_pair.get_symbol }}'.includes('JILL')){
                                                new TradingView.widget(
                                                    {
                                                        "width": "100%",
                                                        "symbol": "BINANCE:{{ trading_pair.get_symbol }}",
                                                        "interval": "D",
                                                        "timezone": "Etc/UTC",
                                                        "theme": "light",
                                                        "style": "1",
                                                        "locale": "en",
                                                        "toolbar_bg": "#f1f3f6",
                                                        "enable_publishing": false,
                                                        "allow_symbol_change": true,
                                                        "container_id": "tradingview_8e91b"
                                                    }
                                                );
                                            }

                                            </script>
                                        </div>
                                        <!-- TradingView Widget END -->
                                    </div>
                                    <div class="col-md-4">
                                        {% comment %}
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                           
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    {% endcomment %}

                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active buy" id="pills-buy-tab" data-toggle="pill"
                                                   href="#pills-buy" role="tab" aria-controls="pills-buy"
                                                   aria-selected="true">Buy</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link sell" id="pills-sell-tab" data-toggle="pill"
                                                   href="#pills-sell" role="tab" aria-controls="pills-sell"
                                                   aria-selected="false">Sell</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-buy" role="tabpanel"
                                                 aria-labelledby="pills-buy-tab">
                                                <form method="post">
                                                    {% csrf_token %}

                                                    <input type="hidden" name="buy_sell" id="id_buy_sell" value="buy">

                                                    {{ form.price | as_crispy_field }}

                                                    {{ form.order_type | as_crispy_field }}
                                                    <div id="div_id_buy_volume" class="form-group">
                                                        <label for="id_buy_volume" class=" requiredField">
                                                            Volume<span class="asteriskField">*</span>
                                                        </label>
                                                        <div class="">
                                                            <input type="number" name="volume" value="0"
                                                                   step="1e-18" class="numberinput form-control"
                                                                   required="" id="id_buy_volume">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                        <!--<input type="range" class="custom-range _buy" min="0" max="1000"
                                                               step="0.5" onchange="updateVolume(this.value, this)"
                                                               id="customRange3">-->
                                                        <input type="text" class="js-range-slider" name="my_range" value=""

                                                            data-min="0"
                                                            data-max-fund="{% market_currency_balance view.kwargs.slug user 'buy' %}"
                                                            data-max="100"
                                                            data-grid="true"
                                                            data-input-id="id_buy_volume"
                                                            data-step="25"
                                                         />
                                                    </div>

                                                    <input type="hidden" name="trading_pair" id="id_trading_pair"
                                                           value="{{ trading_pair.id }}">

                                                    {% if user.is_authenticated%}
                                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                        {% comment %}
                                                        {%if user.get_jill_balance.amount < 10000 %}
                                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#loginRequiredModal">
                                                            Submit
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                        {% endif %}
                                                        {% endcomment %}
                                                    {% else %}
                                                        <a class="btn btn-primary btn-block" href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                                                    {% endif %}
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="pills-sell" role="tabpanel"
                                                 aria-labelledby="pills-sell-tab">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="buy_sell" id="id_buy_sell" value="sell">
                                                    <input type="hidden" name="trading_pair" id="id_trading_pair"
                                                           value="{{ trading_pair.id }}">
                                                    {{ form.price | as_crispy_field }}
                                                    {{ form.order_type | as_crispy_field }}
                                                    <div id="div_id_sell_volume" class="form-group">
                                                        <label for="id_sell_volume" class=" requiredField">
                                                            Volume<span class="asteriskField">*</span>
                                                        </label>
                                                        <div class="">
                                                            <input type="number" name="volume" value="10000"
                                                                   step="1e-18" class="numberinput form-control"
                                                                   required="" id="id_sell_volume">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <!--
                                                            <input type="range" class="custom-range _sell" min="0" max="1000"
                                                               step="0.5" onchange="updateVolume(this.value, this)"
                                                               id="customRange2">
                                                        -->

                                                        <input type="text" class="js-range-slider" name="my_range2" value=""

                                                            data-min="0"
                                                            data-max-fund="{% market_currency_balance view.kwargs.slug user 'sell' %}"
                                                            data-max="100"
                                                            data-grid="true"
                                                            data-input-id="id_sell_volume"
                                                            data-step="25"
                                                         />
                                                    </div>

                                                    {% if user.is_authenticated%}
                                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                        {% comment %}
                                                        {%if user.get_jill_balance.amount < 10000 %} 
                                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#loginRequiredModal">
                                                            Submit
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                        {% endif %}
                                                        {% endcomment %}
                                                    {% else %}
                                                        <a class="btn btn-primary btn-block" href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                                                    {% endif %}


                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="false">History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile"
                                       role="tab" aria-controls="profile" aria-selected="true">Open Orders</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Price</th>
                                            <th>Order type</th>
                                            <th>Buy/Sell</th>
                                            <th>Timestamp</th>
                                            <th>Volume</th>
                                            {#                                                <th class="text-right"></th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in all_order %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0">{{ order.trading_pair.pair }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.price | floatformat:4 }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.order_type }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.buy_sell }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.timestamp | naturaltime }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-green">{{ order.volume | floatformat:2 | intcomma }}</h6>
                                                </td>
                                                {#                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>#}
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Buy/Sell</th>
                                            <th>Timestanp</th>
                                            <th>Volume</th>
                                            {#                                                <th class="text-right"></th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in open_orders %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0">{{ order.trading_pair.pair }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.buy_sell }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ order.timestamp | naturaltime }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-green">{{ order.volume | floatformat:2 | intcomma }}</h6>
                                                </td>
                                                {#                                                <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>#}
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="needMoreJillModal" tabindex="-1" aria-labelledby="needMoreJillModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="sc-jSFjdj sc-dtLLSn bQHYpP ctFTfa sc-hKiEVl iEOpyR">
                    <div class="sc-gIvpjk gJMct">
                        <div class="sc-jSFjdj sc-gKAaRy sc-euEtCV kJmatq jcNvwq hTuscY"><h2
                                color="text"
                                class="sc-gtsrHT sc-iJCRrE jDnmwq jXZUNo">
                            Insufficient JILL</h2></div>
                        <button class="sc-hKFxyN YaON sc-eCApnc fAYopv" data-dismiss="modal"
                                aria-label="Close" scale="md">
                            <svg viewBox="0 0 24 24" color="primary" width="20px"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="sc-bdnxRM ACFFk">
                                <path d="M18.3 5.70997C17.91 5.31997 17.28 5.31997 16.89 5.70997L12 10.59L7.10997 5.69997C6.71997 5.30997 6.08997 5.30997 5.69997 5.69997C5.30997 6.08997 5.30997 6.71997 5.69997 7.10997L10.59 12L5.69997 16.89C5.30997 17.28 5.30997 17.91 5.69997 18.3C6.08997 18.69 6.71997 18.69 7.10997 18.3L12 13.41L16.89 18.3C17.28 18.69 17.91 18.69 18.3 18.3C18.69 17.91 18.69 17.28 18.3 16.89L13.41 12L18.3 7.10997C18.68 6.72997 18.68 6.08997 18.3 5.70997Z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="sc-jSFjdj sc-gKAaRy sc-fHCHyC hXVokk jcNvwq crlswz">
                        <div class="sc-exqIPC jyeDSm">
                            <p>You need 10,000 JILL to buy this contract</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginRequiredModal" tabindex="-1" aria-labelledby="loginRequiredModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="sc-jSFjdj sc-dtLLSn bQHYpP ctFTfa sc-hKiEVl iEOpyR">
                    <div class="sc-gIvpjk gJMct">
                        <div class="sc-jSFjdj sc-gKAaRy sc-euEtCV kJmatq jcNvwq hTuscY"><h2
                                color="text"
                                class="sc-gtsrHT sc-iJCRrE jDnmwq jXZUNo">
                            {% trans "Login Required" %}</h2></div>
                        <button class="sc-hKFxyN YaON sc-eCApnc fAYopv" data-dismiss="modal"
                                aria-label="Close" scale="md">
                            <svg viewBox="0 0 24 24" color="primary" width="20px"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="sc-bdnxRM ACFFk">
                                <path d="M18.3 5.70997C17.91 5.31997 17.28 5.31997 16.89 5.70997L12 10.59L7.10997 5.69997C6.71997 5.30997 6.08997 5.30997 5.69997 5.69997C5.30997 6.08997 5.30997 6.71997 5.69997 7.10997L10.59 12L5.69997 16.89C5.30997 17.28 5.30997 17.91 5.69997 18.3C6.08997 18.69 6.71997 18.69 7.10997 18.3L12 13.41L16.89 18.3C17.28 18.69 17.91 18.69 18.3 18.3C18.69 17.91 18.69 17.28 18.3 16.89L13.41 12L18.3 7.10997C18.68 6.72997 18.68 6.08997 18.3 5.70997Z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="sc-jSFjdj sc-gKAaRy sc-fHCHyC hXVokk jcNvwq crlswz">
                        <div class="sc-exqIPC jyeDSm">
                            <p>Please <a href="{% url 'account_login' %}?next={{ request.path }}">login</a> to place your order.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    <script>

        $(".js-range-slider").ionRangeSlider({
            onChange: function (data) {

                let inputDom = document.getElementById($(data.input).data('input-id'))
                var maxFund = $(data.input).data('max-fund')
                //console.log(maxFund, data.from_percent, maxFund * data.from_percent, data.from)
                inputDom.value = maxFund * data.from/100.0
            }
        })

        let priceInputTag = document.getElementsByName('order_type')

        for (const element of priceInputTag){
            element.addEventListener('change', (e) =>{
                let priceParentElement = e.target.parentNode.parentNode.previousElementSibling
                if (e.target.value === 'market'){

                    priceParentElement.style.display = 'none'
                    //console.log(priceParentElement.getElementsByTagName('input')[0])

                }else if(e.target.value === 'limit'){
                    priceParentElement.style.display = 'block'
                }

            })
        }

        function streamPrice(symbol='btcusdt', changeEl) {
            let priceTag = document.getElementById(changeEl)
            //let changeTag = document.getElementById(`change-${changeEl}`)

            var biSocket = new WebSocket(`wss://stream.binance.com:9443/ws/${symbol}@ticker`);
            biSocket.onmessage = function (event) {
                let messageObject = JSON.parse(event.data)
                if (changeEl.includes('jill')) {
                    let thousandthPrice = Math.round(messageObject.c/1000) * 1000;
                    let pr = messageObject.c/thousandthPrice
                    if(changeEl.includes('bid')){
                        //console.log('bid', {{bid_price|safe}})
                        priceTag.innerText = new Intl.NumberFormat(Intl.locale, {maximumSignificantDigits: 8}).format({{bid_price|safe}} * pr)
                    }else if(changeEl.includes('ask')) {
                        //console.log('bid', {{ask_price|safe}})
                        priceTag.innerText = new Intl.NumberFormat(Intl.locale, {maximumSignificantDigits: 8}).format({{ask_price|safe}} * pr)
                    }else {
                        axios.get(`/orderbook/get-jillion-price/JILL_EUR`)
                        .then(function (response) {

                            priceTag.innerText = new Intl.NumberFormat(Intl.locale, {maximumSignificantDigits: 8}).format(response.data.last_price * pr)
                            //changeTag.innerText = new Intl.NumberFormat().format(messageObject.P)


                        })
                        .catch(function (error) {
                            console.log
                        }).then(function (response) {})
                        //console.log(pr)

                        }                    

                } else {
                    priceTag.innerText = new Intl.NumberFormat().format(messageObject.c)
                    changeTag.innerText = new Intl.NumberFormat().format(messageObject.P)

                }

                //console.log(thousandthPrice)

            }

        }

        //stream bid price
        streamPrice(
            '{{ trading_pair.get_symbol | lower }}'.includes('jill')?'btcusdt':'{{ trading_pair.get_symbol | lower }}',
            'current-bid-price-{{ trading_pair.get_symbol | lower }}'
            )
        //stream ask price
        streamPrice(
            '{{ trading_pair.get_symbol | lower }}'.includes('jill')?'btcusdt':'{{ trading_pair.get_symbol | lower }}',
            'current-ask-price-{{ trading_pair.get_symbol | lower }}'
            )

        function jillChart() {
            new Morris.Line({
                element: 'tradingview_8e91b',
                data: {{ jill_chart_data|safe }},
                xkey: 'closeTime',
                ykeys: ['lastPrice'],
                labels: ['lastPrice']
            })

        }
        if ('{{ request.path }}'.includes('JILL')){
            jillChart()
        }

        function updateVolume(val, elm) {
            var volumeElement
            volumeElement = document.getElementById('id_buy_volume');
            if(elm.classList.contains('_sell')) {
                volumeElement = document.getElementById('id_sell_volume');
            }
            volumeElement.value = val;
        }
    </script>
{% endblock javascripts %}
