<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Yeild contrtact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">



</head>



<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bienvenido a Jillionet</h1>
      <br>

<p class="text-center">Contract IAbot list <br><br></p>
<table class="text-center">
  <tr>
    <th>Contract number</th><th>Pair</th><th>Timeframe</th><th>Win close point</th><th>Lose close point</th>
  </tr>
  {% for contract in object_list%}
  <tr>
    <td>{{contract.contract_number}}</td><td>{{contract.pair}}</td><td>{{contract.timeframe}}</td><td>{{contract.win_close_point}}</td><td>{{contract.lose_close_point}}</td>
  </tr>
  {% endfor %}
</table>




</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
