{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Sample Page</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Hello card</h5>
                                </div>
                                <div class="card-block">
                                    <p><!-- TradingView Widget BEGIN -->
                                        <div class="tradingview-widget-container">
                                          <div id="tradingview_727c9"></div>
                                          <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
                                          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                          <script type="text/javascript">
                                          new TradingView.widget(
                                          {
                                          "width": 980,
                                          "height": 610,
                                          "symbol": "BINANCE:BTCUSDT",
                                          "interval": "240",
                                          "timezone": "Etc/UTC",
                                          "theme": "light",
                                          "style": "1",
                                          "locale": "en",
                                          "toolbar_bg": "#f1f3f6",
                                          "enable_publishing": false,
                                          "hide_side_toolbar": false,
                                          "allow_symbol_change": true,
                                          "container_id": "tradingview_727c9"
                                        }
                                          );
                                          </script>
                                        </div>
                                        <!-- TradingView Widget END -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
{% comment %}
<ol class="text-center">

    <li><a href="/admin">  ADMIN</a></li>
    <li><a href="{% url 'app:market' %}"> MARKET</a></li>
    <li><a href="{% url 'app:yeild' %}">  JILLFARM  </a></li>
    <li><a href="{% url 'app:iabot' %}">  JILLBOT</a></li>
    <li><a href="{% url 'orderbook:all_orderbook' %}">  ORDERBOOK</a></li>
    <li><a href="{% url 'users:balance' %}">FOUNDS</a></li>
    {% if user.is_authenticated %}

    <li><a href="{% url 'account_logout' %}"> SALIR</a></li>

    {% else %}
        <li><a href="{% url 'account_login' %}">  MI CUENTA</a></li>
        <li><a href="{% url 'account_signup' %}"> REGISTRO</a></li>
    {% endif %}
</ol>
{% endcomment %}