{% load account static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>



<body>

<div class="container">
    {% if user.is_authenticated %}
    <div class="btn btn-primary btn-outline pull-right">{{ user.username }}</div>
    {% endif %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bienvenido a Jillionet</h1>
    </div>
  </div>

</div>

<p class="text-center"> <br><br></p>
 

<p class="text-center"> 
<ol class="text-center">
    <li><a href="/jillfarm">-JILLFARM</a></li>
    <li><a href="/jillp2"> JILL P2</a></li>
    <li><a href="/admin">  ADMIN</a></li>
    <li><a href="/admin">  ORDERBOOK</a></li>
    {% if user.is_authenticated %}

    <li><a href="{% url 'account_logout' %}"> Logout</a></li>

    {% else %}
        <li><a href="{% url 'account_login' %}">  Login</a></li>
        <li><a href="{% url 'account_signup' %}"> SignUp</a></li>
    {% endif %}
</ol>
</p>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
