<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Yeild contrtact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">



</head>



<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bienvenido a Jillionet</h1>
      <br>

<p class="text-center">Contract Yeild list <br><br></p>
<table class="text-center">
  <tr>
    <th>Yeildpair</th><th>liquidity</th><th>APR</th><th>APYd365</th><th>d30</th><th>d7</th><th>d1</th>
  </tr>
  {% for yeild in object_list%}
  <tr>
    <td>{{yeild.yeildpair}}</td><td>{{yeild.liquidity}}</td><td>{{yeild.APR}}</td><td>{{yeild.APYd365}}</td><td>{{yeild.d30}}</td><td>{{yeild.d7}}</td><td>{{yeild.d1}}</td>
  </tr>
  {% endfor %}
</table>




</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
