{% extends "layouts/base.html" %}
{% load humanize static crispy_forms_tags get_type_balances %}

{% block title %} Funds {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">

{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div id="main-body" class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div id="main-funds" class="col-xl-6 col-md-6">
                            <all-assets/>
                        </div>
                        <div class="col-xl-6 col-md-6">


                            <donut-chart/>

                        </div>
                    </div>
                    <div id="my-funds-dom" class="row">
                        <fund-component :formatnum="formatNumber" :formatjillcur="formatJillCurrency" :formatcur="formatCurrrency"/>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>External wallet</h5>

                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr class="unread">
                                                <td><img class="rounded-circle" style="width:40px;"
                                                         src="{% static 'img/jill_icon.png' %}"
                                                         alt="jill"></td>

                                                <td>
                                                    <h6 class="text-muted">{{ user.get_jill_wallet_ballance }}</h6>
                                                    <p id="JILL-wallet" class="m-0 small">€ 0.00</p>
                                                </td>

                                            </tr>
                                            <tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    <script src="https://unpkg.com/vue@next"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js" integrity="sha512-is1ls2rgwpFZyixqKFEExPHVUUL+pPkBEPw47s/6NDQ4n1m6T/ySeDW3p54jp45z2EJ0RSOgilqee1WhtelXfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/@aecworks/vue-qrcode"></script>#}

    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    {{ all_fund_json|json_script:"my-funds" }}
    <script>
        let totalAssets = {{ user.all_asset_total | safe }};
        let allFunds = {{ user.get_all_contract_funds | safe }};
        //console.log(allFunds)

    </script>
    <script>
        const myFunds = JSON.parse(JSON.parse(document.getElementById('my-funds').textContent))

        function getTotal(funds) {
            for (const fundName in funds) {
                //console.log(fundName)
                funds[fundName].map(async item => {

                    item['test'] = 'tetet'
                    if (item.currency_code.includes('USD')) {
                        let price = await getCurrentPrice('EUR' + item.currency_code)
                        //console.log(price.price * parseFloat(item.amount))
                    } else {
                        let price = await getCurrentPrice(item.currency_code + 'EUR')
                        //console.log(price.price * parseFloat(item.amount))
                    }

                })
            }

        }

        //getTotal(myFunds)

        async function getCurrentPrice(symbol) {
            try {
                if (symbol.includes('JILL')) {

                    const response = await axios.get(`/orderbook/get-jillion-price/JILL_EUR`)
                    const data = response.data;
                    return {
                        price: response.data.last_price
                    }

                }
                const response = await axios.get(`https://api.binance.com/api/v3/ticker/price?symbol=${symbol}`)
                const data = response.data;

                return data
            } catch (e) {
                console.log(symbol)
                console.log(e)
            }


        }

        var jillWalletBalance = parseFloat('{{user.get_jill_wallet_ballance}}')

        function streamPrice(symbol = 'btcusdt', changeEl) {
            let priceTag = document.getElementById(changeEl)

            var biSocket = new WebSocket(`wss://stream.binance.com:9443/ws/${symbol}@ticker`);
            biSocket.onmessage = function (event) {
                let messageObject = JSON.parse(event.data)
                if (changeEl.includes('JILL')) {
                    let thousandthPrice = Math.round(messageObject.c / 1000) * 1000;
                    let pr = messageObject.c / thousandthPrice
                    axios.get(`/orderbook/get-jillion-price/JILL_EUR`)
                        .then(function (response) {

                            let currentprice = response.data.last_price * pr
                            priceTag.innerText = jillEuroCurrencyFormatter.format(currentprice * jillWalletBalance)

                        })
                        .catch(function (error) {
                            console.log(error)
                        }).then(function (response) {
                    })
                    //console.log(pr)

                } else {
                    priceTag.innerText = currencyFormatter.format(messageObject.c)

                }

                //console.log(thousandthPrice)

            }

        }

        function streamFundPrice(symbol = 'btcusdt', changeEl, amount) {
            let priceTag = document.getElementById(changeEl)
            let euroPrice = document.getElementById(changeEl + '-euro')
            let currencyCode = changeEl.split('-').pop()

            var biSocket = new WebSocket(`wss://stream.binance.com:9443/ws/${symbol}@ticker`);
            biSocket.onmessage = function (event) {
                let messageObject = JSON.parse(event.data)

                if (currencyCode.includes('JILL')) {

                    let thousandthPrice = Math.round(messageObject.c / 1000) * 1000;
                    let pr = messageObject.c / thousandthPrice
                    axios.get(`/orderbook/get-jillion-price/JILL_EUR`)
                        .then(function (response) {

                            let currentprice = response.data.last_price * pr

                            euroPrice.innerText = jillEuroCurrencyFormatter.format(currentprice * amount);

                        })
                        .catch(function (error) {
                            console.error(error)
                        }).then(function (response) {
                    })
                    //console.log(pr)

                } else {
                    if (symbol.startsWith('eur')) {
                        euroPrice.innerText = currencyFormatter.format(1 / messageObject.c * amount);
                    } else {
                        euroPrice.innerText = currencyFormatter.format(messageObject.c * amount);
                    }


                }

                //console.log(thousandthPrice)

            }

        }

        streamPrice(symbol = 'btcusdt', 'JILL-wallet');

        let currencyFormatter = new Intl.NumberFormat(Intl.locale, {
            maximumFractionDigits: 2,
            style: 'currency',
            currency: 'EUR',
        })

        let jillEuroCurrencyFormatter = new Intl.NumberFormat(Intl.locale, {
            maximumFractionDigits: 8,
            style: 'currency',
            currency: 'EUR',
        })

        let numberFormatter = new Intl.NumberFormat(Intl.locale, {
            maximumFractionDigits: 2,

        })

    </script>

    <script src="{% static 'js/vue-component.js' %}"></script>

{% endblock javascripts %}
