{% extends "layouts/base.html" %}
{% load humanize static crispy_forms_tags get_type_balances %}

{% block title %} Funds {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">

{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
<div class="row">
    <div id="main-funds" class="col-xl-6 col-md-6">
        <div class="card-block px-0 py-3">
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>Main</h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
                    <div class="col-xl-6 col-md-6">


                            <div class="card-block px-0 py-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Overview</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-donut-chart" style="height:400px"></div>
                                    </div>
                                </div>
                            </div>

                    </div>
</div>
                    <div id="my-funds-dom" class="row">
                        {% for bal_type in balances %}
                            {% get_bal bal_type user as my_bal %}
                            <div class="col-xl-8 col-md-6">
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>{{ bal_type.name }}</h5>
                                    </div>
                                    <div class="card-block px-0 py-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody>
                                                {% for balance in my_bal %}
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                 src="{{ balance.currency.get_currency_icon }}"
                                                                 alt="activity-user"></td>
                                                        <td>
                                                            <h6 class="mb-1">{{ balance.currency.code }}</h6>
                                                            {#                                                            <p class="m-0">Lorem Ipsum is simply…</p>#}
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{ balance.amount | floatformat:4 }}</h6>
                                                            <p class="m-0 small">€ 0.00</p>
                                                        </td>
                                                        <td><button data-toggle="modal" data-target="#withdrawModal{{ balance.id }}" type="button" class="label theme-bg2 text-white f-12">Withdraw</button>
                                                            <button
                                                                type="button" data-toggle="modal" data-target="#depositModal{{ balance.id }}"
                                                                class="label theme-bg text-white f-12">Deposit</button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for balance in my_bal %}
                                <!-- Withdraw Modal -->
                                <div class="modal fade" id="withdrawModal{{ balance.id }}" tabindex="-1" role="dialog" aria-labelledby="withdrawModal{{ balance.id }}Label" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="withdrawModal{{ balance.id }}Label">Withdraw {{ balance.currency.code }} from {{ balance.balance_for.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        ...
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- Deposit Modal -->
                                <div class="modal fade" id="depositModal{{ balance.id }}" tabindex="-1" role="dialog" aria-labelledby="depositModal{{ balance.id }}Label" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="depositModal{{ balance.id }}Label">Deposit {{ balance.currency.code }} to {{ balance.balance_for.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        ...
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                    {% comment %}<div>
                        <table>
                            <tr>
                                <th>Currency</th>
                                <th>Amount</th>
                            </tr>
                            {% for balance in object_list %}
                                <tr>
                                    <td>{{ balance.currency.code }}</td>
                                    <td>{{ balance.amount }}</td>
                                </tr>

                            {% endfor %}

                        </table>

                        <p>The Balance total in € is:</p>

                    </div>{% endcomment %}


                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    {{ all_fund_json|json_script:"my-funds" }}
    <script>
    const myFunds = JSON.parse(JSON.parse(document.getElementById('my-funds').textContent))

    function getTotal(funds) {
        for (const fundName in funds){
            //console.log(fundName)
            funds[fundName].map(async item => {

                item['test'] = 'tetet'
                if (item.currency__code.includes('USD')){
                    let price = await getCurrentPrice('EUR'+item.currency__code)
                    //console.log(price.price * parseFloat(item.amount))
                }else {
                    let price = await getCurrentPrice(item.currency__code+'EUR')
                    //console.log(price.price * parseFloat(item.amount))
                }

            })
        }

    }

    getTotal(myFunds)

    async function getCurrentPrice(symbol) {
        try {
            if(symbol.includes('JILL')){
                
                const response = await axios.get(`/orderbook/get-jillion-price/JILL_EUR`)
                const data = response.data;
                return {
                    price: response.data.last_price
                }                

            }
            const response = await axios.get(`https://api.binance.com/api/v3/ticker/price?symbol=${symbol}`)
            const data = response.data;

            return data
        } catch (e) {
            console.log(symbol)
            console.log(e)
        }


    }

    </script>
    <script src="{% static 'js/fundsComponent.js' %}"></script>

{% endblock javascripts %}
{% comment %}

    <table class="text-center">
        <tr>
            <th>Pair</th>
            <th>Buy/Sell</th>
            <th>Status</th>
            <th>Order type</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
        {% for order in order_history %}
            <tr>
                <td>{{ order.trading_pair.pair }}</td>
                <td>{{ order.buy_sell }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_type }}</td>
                <td>{{ order.volume | floatformat:4 }}</td>
                <td>{{ order.price | floatformat:4 }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Open Orders</h2>

    <table class="text-center">
        <tr>
            <th>Pair</th>
            <th>Buy/Sell</th>
            <th>Status</th>
            <th>Order type</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
        {% for order in open_orders %}
            <tr>
                <td>{{ order.trading_pair.pair }}</td>
                <td>{{ order.buy_sell }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_type }}</td>
                <td>{{ order.volume | floatformat:4 }}</td>
                <td>{{ order.price | floatformat:4 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endcomment %}