{% extends "layouts/base.html" %}
{% load humanize static crispy_forms_tags get_type_balances %}

{% block title %} Funds {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">

{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
<div class="row">
                    <div class="col-xl-8 col-md-6">


                            <div class="card-block px-0 py-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Overview</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-donut-chart" style="height:400px"></div>
                                    </div>
                                </div>
                            </div>

                    </div>
</div>
                    <div class="row">
                        {% for bal_type in balances %}
                            {% get_bal bal_type user as my_bal %}
                            <div class="col-xl-8 col-md-6">
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>{{ bal_type.name }}</h5>
                                    </div>
                                    <div class="card-block px-0 py-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody>
                                                {% for balance in my_bal %}
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                 src="{{ balance.currency.get_currency_icon }}"
                                                                 alt="activity-user"></td>
                                                        <td>
                                                            <h6 class="mb-1">{{ balance.currency.code }}</h6>
                                                            {#                                                            <p class="m-0">Lorem Ipsum is simply…</p>#}
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">{{ balance.amount | floatformat:4 }}</h6>
                                                            <p class="m-0 small">€ 0.00</p>
                                                        </td>
                                                        <td><a href="#!" class="label theme-bg2 text-white f-12">Withdraw</a><a
                                                                href="#!"
                                                                class="label theme-bg text-white f-12">Deposit</a></td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>Currency</th>
                                <th>Amount</th>
                            </tr>
                            {% for balance in object_list %}
                                <tr>
                                    <td>{{ balance.currency.code }}</td>
                                    <td>{{ balance.amount }}</td>
                                </tr>

                            {% endfor %}

                        </table>

                        <p>The Balance total in € is:</p>

                    </div>


                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}

    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/chart-morris-custom.js' %}"></script>

{% endblock javascripts %}
{% comment %}

    <table class="text-center">
        <tr>
            <th>Pair</th>
            <th>Buy/Sell</th>
            <th>Status</th>
            <th>Order type</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
        {% for order in order_history %}
            <tr>
                <td>{{ order.trading_pair.pair }}</td>
                <td>{{ order.buy_sell }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_type }}</td>
                <td>{{ order.volume | floatformat:4 }}</td>
                <td>{{ order.price | floatformat:4 }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Open Orders</h2>

    <table class="text-center">
        <tr>
            <th>Pair</th>
            <th>Buy/Sell</th>
            <th>Status</th>
            <th>Order type</th>
            <th>Volume</th>
            <th>Price</th>
        </tr>
        {% for order in open_orders %}
            <tr>
                <td>{{ order.trading_pair.pair }}</td>
                <td>{{ order.buy_sell }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_type }}</td>
                <td>{{ order.volume | floatformat:4 }}</td>
                <td>{{ order.price | floatformat:4 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endcomment %}